.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  height: calc(100vh - 70px);
  position: relative;

  &::after {
    content: url(../public/images/image-hero.png);
    position: absolute;
    right: 6rem;
    bottom: -.5rem;
    z-index: 0;
  }

  &__tag {
    font-size: var(--font-size-tag);
    opacity: 0.5;
    color: var(--secondary-color);
  }

  &__title {
    @include title();
  }

  &__text {
    @include text();
    margin: var(--vertical-space-medium);
  }

  // &__form {
  //   display: flex;
  //   flex-wrap: wrap;
  //   box-shadow: var(--shadow);
  //   z-index: 2;
  //   position: relative;
  // }

  // &__input {
  //   flex: 1;
  //   padding: var(--small-size) var(--small-size) var(--small-size) var(--large-size);
  //   border: none;
  //   background:url(../../melhores-plantas/public/images/mail.svg) no-repeat 1rem center, #fff;
  // }

  // &__btn {
  //   border: none;
  //   padding: var(--small-size) var(--medium-size);
  //   background-color: var(--primary-color);
  //   color: white;
  //   box-shadow: 10px 10px 30px rgba(255, 203, 71, 0.3);
  //   cursor: pointer;

  //   &:hover {
  //     background-color: var(--primary-light-color);
  //   }
  // }
}

@media (max-width: 992px){
  .newsletter {
    grid-template-columns: 1fr;
    align-items: start;
    place-content: start;
    margin-top: var(--small-size);
    height: inherit;

    &::after {
      content: '';
    }
  }
}

@media (max-width: 768px) { 
  .newsletter {
    background-color: white;
    padding: 1rem;
    margin: var(--horizontal-space-small);
  }
}